html {
    height: 100%;

}

button {
    background: none;
    border: none;
}

.hidden {
    display: none;
}

.hidden div {
    font-size: 100px;
}

.hidden-login {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    width: 350px;
}

body {
    height: 100%;
    color: white;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}

#main-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
   
    
}

#clock {
    font-size: 100px;
}

#weather-box {
    position: absolute;
    right: 10px;
    top: 10px;
}

#weather {
    display: flex;
    text-align: center;
    align-items: center;
}

#location {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

#todo-list {
    font-size: 25px;
}